@font-face {
   font-family: "Gilroy";
   font-style: normal;
   font-weight: bold;
   src: local("Gilroy"), url("../fonts/gilroy-bold.woff");
}

@font-face {
   font-family: "Gilroy";
   font-style: normal;
   font-weight: 500;
   src: local("Gilroy"), url("../fonts/gilroy-medium.woff");
}

@font-face {
   font-family: "Gilroy";
   font-style: normal;
   font-weight: normal;
   src: local("Gilroy"), url("../fonts/gilroy-regular.woff");
}

@font-face {
   font-family: "Gilroy";
   font-style: normal;
   font-weight: 600;
   src: local("Gilroy"), url("../fonts/gilroy-semibold.woff");
}
